<div class = sidecontainer>
  <div class = contactcontainer>
    <a><img src="../images/emilm.jpg" alt="head shot of emil"></a>
    <p>Name: Emil Mattsson</p>
    <p>Number: 073-XXXXXXX</p>
    <p>Email: emanuel92@gmail.com</p>
  </div>
  <div class = contactcontainer1>
    <a><img src="../images/emilb.jpg" alt="head shot of emil"></a>
    <p>Name: Emil Bengtsson</p>
    <p>Number: 073-XXXXXXX</p>
    <p>Email: emil.bengtsson2@gmail.com</p>
  </div>
</div>