<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
      <header>
       <div class = container>
         <ul>
           <li><a id = image href="../"><img  src="../images/logotype.jpg" alt="E&E Security systems logotype"></a></li>
           <li><a href="../">Home</a></li>
           <li><a href="../images">Images</a></li>
           <li><a href="../contact">Contact</a></li>
           <li><a href="../about">About</a></li>
         </ul>
       </div>
     </header>
     <div class = sidecontainer>
       <div class = contactcontainer>
         <a><img src="../images/emilm.jpg" alt="head shot of emil"></a>
         <p>Name: Emil Mattsson</p>
         <p>Number: 073-XXXXXXX</p>
         <p>Email: emanuel92@gmail.com</p>
       </div>
       <div class = contactcontainer1>
         <a><img src="../images/emilb.jpg" alt="head shot of emil"></a>
         <p>Name: Emil Bengtsson</p>
         <p>Number: 073-XXXXXXX</p>
         <p>Email: emil.bengtsson2@gmail.com</p>
       </div>
      </div>
    </body>
</html>
