<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <div class = container>
        <img src="../images/logotype.jpg" alt="E&E Security systems logotype">
        <ul>
          <li><a href="../">Home</a></li>
          <li><a href="../images">Images</a></li>
          <li><a href="../contact">Contact</a></li>
          <li><a href="../about">About</a></li>
        </ul>
      </div>
    </header>

    <div class = container1>
    <ul>
      {{#each images}}
        <li><img src={{ img }} alt="image"/></li>
      {{/each}}
    </ul>
    </div>
  </body>
</html>