<!DOCTYPE html>
<html>
<head>
  <title>EE Security System</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/Styles/index.css">
</head>
<body class="theme_grey">
  <header>
       <div class = container>
         <ul>
           <li><a id = image href="../"><img  src="../images/logotype.jpg" alt="E&E Security systems logotype"></a></li>
           <li><a href="../">Home</a></li>
           <li><a href="../images">Images</a></li>
           <li><a href="../contact">Contact</a></li>
           <li><a href="../about">About</a></li>
           <li><a href="../user/login">Login</a></li>
         </ul>
       </div>
     </header>
  {{{ body }}}

</body>
</html>
