<h1>Login</h1>

{{#if error}}
  <p>
    Error: {{error}}
  </p>
{{/if}}

<form class="" action="/user/login" method="post">
  <input type="text" name="username" value=""><br>
  <input type="password" name="password" value=""><br>
  <button>Login</button>
</form>
