<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
       <h1>EE Security System</h1>
       <a href="/images">View images</a>
    </body>
</html>
