<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
       <div class = container>
         <img src="../images/logotype.jpg" alt="E&E Security systems logotype">
       </div>
       <div class = container1>
         <a href="/images">View images</a>
       </div>
    </body>
</html>
