<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
      <header>
       <div class = container>
         <ul>
           <li><a id = image href="../"><img  src="../images/logotype.jpg" alt="E&E Security systems logotype"></a></li>
           <li><a href="../">Home</a></li>
           <li><a href="../images">Images</a></li>
           <li><a href="../contact">Contact</a></li>
           <li><a href="../about">About</a></li>
         </ul>
       </div>
     </header>
       <div class = aboutcontainer>
         <h1>Security Project</h1>
         <p>This has been a project in data technolgy</p>
       </div>
    </body>
</html>
