body {
  margin: auto;
  width: 80%;
  background-color: #2d2727;
}

header{
    width: 100%;
    height: auto;
}

h1 {
  color: #e60000;
  text-align: center;
  font-size: 30px;
}

p {
  color: #ffffff;
  font-size: 14px;
}


.container{
  text-align: center;
  margin-top: 20px;
  left: 50%;
}

.container img {
  width: 300px;
  height: 100px;
}

.container ul {
    list-style-type: none;
    margin: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
}

.container li {
    border-style: groove;
    border-color: #e60000;
    float: left;
}

.container li a {
    display: block;
    color: #e60000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container li a:hover {
    background-color: #111;
}

.container1{
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  height: auto;
}

.container1 a{
  color: green;
  font-size: 140px;
}
